@use "../../helpers/variables" as *;

.articleStyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.houseImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.address{
  margin-left: 1.5rem;
}
.house{
  font-size: 16px;
  color: #333;
  font-family: $fontText;
  padding: 5px;
  margin-left: 1.5rem;
}
.infoSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  width:80%;
  margin: auto;
  margin-top: -10rem;
}
.iconCircle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgb(141, 141, 141);
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
} 
.infoColumn {
  text-align: left;
  font-family: $fontText;
  font-size: 20px;
  margin: auto;
}
.iconsColumn {
  display: flex;
  gap: 15px;
  margin: auto;
}
.price{
  font-family: $fontText;
  color: #333;
  padding: 5px;
}
.modalImage {
  width: 400px;  
  height: 200px;  
  display: block;
  margin: auto;
}
.propertyDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 90px;
  margin: auto;
  padding: 20px 0;
}
.detailsColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-family: $fontText;
  color: #333;
}
.detailRow {
  display: flex;
  justify-content: space-between; 
  font-size: 16px;
  width: 100%;
}
.label {
  font-weight: normal;
}
.value {
  font-weight: bold;
  text-align: right;
}    
.descriptionInfo {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 40px;
  margin: 2rem auto ;
  width: 80%;
}
.houseDescription {
  .text{
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  font-family: $fontText;
  text-align: left;
margin-left: 4rem;}
}
.houseContact {
  text-align: left;
  font-family: $fontText;
  margin-left: 2rem;
}
.kontakt {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.staffImage {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
}
.houseContact p {
  font-size: 13px;
  color: #333;
  
}
.houseContact p strong {
  font-weight: bold;
}

@media(max-width:920px){
  .infoSection {
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    width: 90%;
  }
  .iconsColumn {
    flex-wrap: wrap; 
    justify-content: center;
    
  }
  .propertyDetails {
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 90%;
  }
  .detailsColumn{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) { 
  .infoSection {
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    width: 90%;
  }
  .iconsColumn {
    flex-wrap: wrap; 
    justify-content: center;
    
  }
  .propertyDetails {
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 90%;
  }
  .descriptionInfo {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .detailsColumn{
    margin-top: 1rem;
  }
}

@media (max-width: 600px) { 
  .infoSection {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
  }
  .iconsColumn {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .descriptionInfo {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .houseImg {
    height: 250px; 
  }
  .houseContact, .houseDescription {
    text-align: center;
  }
  .kontakt{
    text-align: center;
  }
  .houseDescription .text {
    padding: 0.5rem;
    font-size: 14px;
  }
  .staffImage {
    width: 100px; 
  }
  .detailsColumn{
    margin-top: 1rem;
  }
}
      