.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin: auto;
  background-color: #333; 
  padding: 1.5rem;
}
.reviewColumn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.reviewLabel {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 5px;
  margin-right: 10px;
  white-space: nowrap;
  width: 70px; 
  text-align: right; 
}
.reviewInput,
.textarea,
.selectStar {
  flex-grow: 1;
  width: 100%; 
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background: white;
  color: black;
}
.reviewInput {
  height: 35px;
}
.textarea {
  height: 80px;
  resize: none;
}
.selectStar {
  background-color: #fff;
  font-size: 14px;
}
.btnSubmit {
  padding: 8px 15px;
  border: none;
  background: #ccc;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 10px;
  &:hover {
    background-color: #999;
  }
}
.buttons {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
  gap: 10px; 
  margin-top: 10px;
}
