@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

//Fonts:
$fontNavigation:'Odibee Sans';
$fontText:'Trebuchet MS';

//Colors:
$colorBrown:#AF7627;
$colorPink: #FED9C9;
$colorBlack: #000000;

