.overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
.modal {
  width: 60%; 
  max-width: 800px; 
  max-height: 75vh;
  padding: 20px;
  position: relative;
  z-index: 1;
}
  .modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
  }
  .modalImage {
    width: 80%; 
    max-width: 400px; 
    max-height: 300px; 
    object-fit: contain; 
    display: block;
    margin: auto;
    
  }
  .closeButton {
    position: absolute;
    top: -25px;
    right: 70px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
//  @media(max-width:600px){
//   .modal{
//     width: 50%;
//   }
//   .modalContent{
//     width: 300px;
//   }
//   .modalImage{
//     width: 100px;
//   }
//  }