.overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
.modal {
  width: 60%; 
  max-width: 800px; 
  max-height: 75vh;
  padding: 20px;
  position: relative;
  z-index: 1;
}
  .modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
    // &:hover {
    //   transform: scale(1.3);
    //   transition: transform 0.3s ease-in-out;
    // }
  }
  .modalImage {
    width: 100%; 
    //max-width: 400px; 
    //max-height: 300px; 
    object-fit: contain; 
    display: block;
    margin: auto;
  }
  .closeButton {
    position: absolute;
    top: -5px;
    right: 90px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }



@media (min-width: 620px) and (max-width: 900px) {
  .modal {
      width: 85%;
      max-width: 750px; 
      max-height: 80vh;
      padding: 15px;
  }
  .modalContent {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .modalImage {
      max-width: 95%;
      max-height: 70vh;
      object-fit: contain;
  }
  .closeButton {
      right: 20px;
      top: 10px;
      font-size: 26px;
  }
}

@media(max-width:600px){
  .modal{
        width: 50%;
     justify-content: center;
       margin-right: 12rem;
     }
      .modalContent{
       width: 400px;
      margin: auto;
     }
      .modalImage{
        width: 100px;
      }
      .closeButton{
       right: -170px;
       top: 70px;
      }
     }