@use "../../helpers/variables" as *;

.staffCard {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
    margin: auto;
    font-family: $fontText;
    gap: 2px;
  }
  .articleStyle {
    background-color: transparent;
    border: 2px solid lightgrey; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 240px; 
    width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: 2rem;
  }
  .imgStaff {
    display: block;
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
  }
.name{
  cursor:pointer;
  padding: 5px;
}
.textOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  border-top: 2px solid rgb(133, 133, 133);
  cursor: pointer;
}
.position {
  color: rgb(79, 79, 79);
  padding: 5px ;
}
.extraInfo {
  transition: opacity 0.4s ease-in, transform 0.5s ease-in-out;
  padding: 5px;
}
.email{
  margin-bottom:8px;
}