@use "../../helpers/variables" as *;

.footer {
  background-color: $colorBlack;
  color: white;
  padding: 12px  0;
  text-align: center;
  display: flex;
  justify-content: center;
  //width: 100%;
}
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  width: 90%;
  @media(max-width: 768px) { 
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
  }
}
.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: $fontNavigation;
  letter-spacing: 2px;
}
.address,
.contact {
  font-size: 14px;
  font-family: $fontText;
  text-align: left;
  @media(max-width: 768px) { 
    text-align: center;
  }
}
.socialIcons {
  display: flex;
  gap: 10px;
}
.socialIcons a {
  color: white;
  font-size: 28px;
  text-decoration: none;
}


